# String
1. sequence of character.
2. In python- string is  a sequence of unicode characters.
- create string
- access string
- adding character to string
- editing string
- delete string
- operation on string
- string function

In [13]:
#create string
c = "hello"
print(c)

hello

In [17]:
print(c[0])
print(c[3])
print(c[0:4])
print(c[0:4:2])  
print(c[::-1])  # reverse string 
print(c[::])

h
l
hell
hl
olleh
hello

In [3]:
print(c+"world")

helloworld

In [4]:
# we can't edit string
c[0]='y'

TypeError: 'str' object does not support item assignment

In [7]:
c = "world"
print(c)

world

In [9]:
# delete string
del(c)
print(c)

NameError: name 'c' is not defined

In [26]:
# Operation
# arithmetic/relational/logical/loop/membership

print("hello"+"world")
print("*"*10)
print("Shiva "*20)

print()
print()
print("mumbai">"pune")  #lexigraphically arrange order

print("hello" and "world")
print("hello" or "world")
print(" " and "world")
print("hello" or "world")

helloworld
**********
Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva Shiva


False
world
hello
world
hello

In [32]:
# string function
#   len/max/min/sorted
c = "mahadev"
print(len(c))
print(max(c))
print(min(c))
print(sorted(c))


print()
print()


# capitalize/title/upper/lower/swapcase
c = "this is my company"
print(c.capitalize())  #only first character uppercase
print(c.title())       # every first word first character uppercase
print(c.upper())
print(c.lower())
print(c.swapcase)

7
v
a
['a', 'a', 'd', 'e', 'h', 'm', 'v']


This is my company
This Is My Company
THIS IS MY COMPANY
this is my company
<built-in method swapcase of str object at 0x000002111A348CB0>

In [54]:
c = "this is the only one option of my life"
print(c.find("this"))  #it provide the position of the searchnable item.
print(c.find("i"))

print(c.index('i'))

# find and index work same but the only one differece between is when the find function not found then it will return -1 
# and when index not found then it wiil give error.

0
2
2

In [57]:
# some important part of the string

# format/split/join/replace/strip

"hello my name is {} and i am {} year old".format("Shushant","34")

'hello my name is Shushant and i am 34 year old'

In [58]:
"hello my name is {1} and i am {0} year old".format("Shushant","34")

'hello my name is 34 and i am Shushant year old'

In [61]:
"hello my name is {name} and i am {age} year old".format(name = "Shushant",age = "34")

'hello my name is Shushant and i am 34 year old'

In [62]:
"hello my name is {name} and i am {name} year old".format(name = "Shushant",age = "34")

'hello my name is Shushant and i am Shushant year old'

In [63]:
# split

"who is the prime minister of india".split()

['who', 'is', 'the', 'prime', 'minister', 'of', 'india']

In [68]:
# join
" ".join(['who', 'is', 'the', 'prime', 'minister', 'of', 'india'])

'who is the prime minister of india'

In [76]:
# replace
"this is my favourite place".replace("my","your")

'this is your favourite place'

In [77]:
a ='hello world'
a.replace("hello","getout")

'getout world'

In [86]:
# strip

name = "           hatim                 "
print(name)   #here is the problem if you create a login page and user enter the name in this way then we have to remove 
                # extra space so here we use strip()

           hatim

In [87]:
name.strip()

'hatim'