# set
- set is a datatype.
- set not allow duplicate.
- set have no indexing and data arrange from hashing.
- set don't allow mutable datatype.
- set is a mutable datatype.

In [4]:
s1 = {}
print(type(s1))
# note-> set and dictionary both are written in {}.
s1 = set()
print(type(s1))

<class 'dict'>
<class 'set'>

In [10]:
s1 = {1,2,3,"hello"} # hetrogenious data
print(s1)

{'hello', 2, 3, 1}

In [9]:
print(id(s1))

1922443897408

In [11]:
# duplicate not allow
set = {1,1,2,3,4,3}
print(set)

{1, 2, 3, 4}

In [12]:
# 2d set is not possible
s1 = {1,2,3,{4,5,6}}

TypeError: unhashable type: 'set'

In [13]:
s1 = {1,2,3,(3,4)}
print(s1)

{1, 2, 3, (3, 4)}

In [17]:
# add items
s1 ={1,2,3,4,5}
print(s1)
s1.add(34)  #it will take exactly one argument.
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 34}

In [19]:
s1 = {4,5,6}
print(s1)
del s1
print(s1)

{4, 5, 6}

NameError: name 's1' is not defined

In [20]:
s1 = {3,4,5,6}
s1.remove(5)
print(s1)

{3, 4, 6}

In [21]:
s1 = {2,3,4}
s1.pop()
print(s1)

{3, 4}

In [24]:
print(s1)
print(1 in s1)
print(3 in s1)

{3, 4}
False
True

# function
- len()
- max()
- min()
- sum()
- sorted()
- union 
- intersection
- diffenece
- symmetric_difference
- isdisjoint
- isubset
- issuperset

In [27]:
s1 = {11,2,13,4,5}
print("length :",len(s1))
print("max : ",max(s1))
print("min :",min(s1))
print("sum :",sum(s1))
print(sorted(s1))
print(sorted(s1,reverse = True))

length : 5
max :  13
min : 2
sum : 35
[2, 4, 5, 11, 13]
[13, 11, 5, 4, 2]

In [30]:
s1 = {1,2,3,4,5}
s2 = {2,3,6,7}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))  # S1-S2
print(s2.difference(s1))  # s2-s1

{1, 2, 3, 4, 5, 6, 7}
{2, 3}
{1, 4, 5}
{6, 7}

In [32]:
s1.symmetric_difference(s2)

{1, 4, 5, 6, 7}

In [33]:
s1.isdisjoint(s2)

False

In [34]:
s1.issuperset(s2)

False